In [3]:
import pandas as pd

df = pd.read_parquet('../../MapUp-Data-Assessment-E/sample_data/input/test_data.parquet')
df.head(15)

    latitude  longitude             timestamp  unit
0   41.51166  -74.08417  2023-12-11T10:50:09Z  2000
1   41.51176  -74.08371  2023-12-11T10:50:11Z  2000
2   41.51176  -74.08371  2023-12-11T10:50:11Z  2000
3   41.51088  -74.08337  2023-12-11T10:50:17Z  2000
4   41.51077  -74.08338  2023-12-11T10:50:18Z  2000
5   41.51072  -74.08343  2023-12-11T10:50:18Z  2000
6   41.51065  -74.08384  2023-12-11T10:50:20Z  2000
7   41.51065  -74.08384  2023-12-11T10:50:20Z  2000
8   41.51065  -74.08384  2023-12-11T10:50:20Z  2000
9   41.51060  -74.08410  2023-12-11T10:50:22Z  2000
10  41.51058  -74.08422  2023-12-11T10:50:22Z  2000
11  41.51063  -74.08430  2023-12-11T10:50:23Z  2000
12  41.51097  -74.08464  2023-12-11T10:50:26Z  2000
13  41.51106  -74.08470  2023-12-11T10:50:26Z  2000
14  41.51147  -74.08485  2023-12-11T10:50:29Z  2000

In [4]:
process1_df1 = pd.read_csv('../../MapUp-Data-Assessment-E/sample_data/output/process1/2000_0.csv')
process1_df1.head(10)

   latitude  longitude             timestamp
0  41.51166  -74.08417  2023-12-11T10:50:09Z
1  41.51176  -74.08371  2023-12-11T10:50:11Z
2  41.51176  -74.08371  2023-12-11T10:50:11Z
3  41.51088  -74.08337  2023-12-11T10:50:17Z
4  41.51077  -74.08338  2023-12-11T10:50:18Z
5  41.51072  -74.08343  2023-12-11T10:50:18Z
6  41.51065  -74.08384  2023-12-11T10:50:20Z
7  41.51065  -74.08384  2023-12-11T10:50:20Z
8  41.51065  -74.08384  2023-12-11T10:50:20Z
9  41.51060  -74.08410  2023-12-11T10:50:22Z

In [5]:
process1_df2 = pd.read_csv('../../MapUp-Data-Assessment-E/sample_data/output/process1/2000_1.csv')
process1_df2.head(10)

   latitude  longitude             timestamp
0  31.13662  -81.58010  2023-12-11T21:58:42Z
1  31.13678  -81.58042  2023-12-11T21:58:44Z
2  31.13708  -81.58125  2023-12-11T21:58:49Z
3  31.13716  -81.58146  2023-12-11T21:58:50Z
4  31.13716  -81.58146  2023-12-11T21:58:50Z
5  31.13784  -81.58108  2023-12-11T21:58:55Z
6  31.13791  -81.58104  2023-12-11T21:58:56Z
7  31.13856  -81.58067  2023-12-11T21:59:00Z
8  31.13884  -81.58054  2023-12-11T21:59:02Z
9  31.13890  -81.58051  2023-12-11T21:59:03Z